<span class="alert alert-success p-2 mt-2" style="display: block;font-weight: 1000">Current File : {{title}}</span>
<h3>{{brackets.curlyBracketL}}</h3>

<form class="form-control w-25 p-2" #formRobot="ngForm" (ngSubmit)="onClickSubmit(formRobot)">
  <h5 class="alert alert-success text-center p-2">Robot Form</h5>
  <label class="form-label">Robot Id</label>
  <!-- ***** Note : name="<attribute name>" must be same #<attribute name> -->
  <input class="form-control" type="number" name="rid" ngModel>
  <label class="form-label">Code name</label>
  <input class="form-control" type="text" name="codeName" ngModel>
  <label class="form-label">Price</label>
  <input class="form-control" type="number" name="price" ngModel>
  <button class="btn btn-success p-1 mt-2">send</button>
</form>

<!-- Form Driven-->
<form class="form-control w-25 p-2 mt-3" (ngSubmit)="onClickSubmitFormDriven()">
  <h5 class="alert alert-success text-center p-2">Robot Form</h5>
  <label class="form-label">Robot Id</label>
  <input class="form-control" type="number" name="rid" [(ngModel)]="robot3.rid" [required]="true">
  <label class="form-label">Code name</label>
  <input class="form-control" type="text" name="codeName" [(ngModel)]="robot3.codeName" required>
  <label class="form-label">Price</label>
  <input class="form-control" type="number" name="price" [(ngModel)]="robot3.price" required>
  <!-- ## Note : name="<attribute name>" must be same #<attribute name> -->
  <button type="submit" class="btn btn-success p-1 mt-2">send</button>
  <div class="alert alert-danger mt-2">
    Rid : {{robot3.rid}} , Robot : {{robot3 | json}}
  </div>
</form>

<h3>{{brackets.curlyBracketR}}</h3>
<span class="alert alert-success p-2 mt-2" style="display: block;font-weight: 1000">Current File : {{title}}</span>
