<div class="container mt-4" style="margin: 0 auto;">
  <span class="alert alert-success p-2" style="display: block;font-weight: 1000">Current File : {{getTitle()}}</span>
  <h3>{{brackets.curlyBracketR}}</h3>
  <!-- ## Note : #<argument name>="" must be same argument name in method(ngSubmit)="" -->
  <form #formStudent="ngForm" (ngSubmit)="create(formStudent)" class="form-control w-25 p-2 mt-2"  >
    <h5 class="alert alert-light text-center p-2">Form add the students</h5>
    <label class="form-label" >Nickname</label>
    <input class="form-control" type="text" name="nickname" ngModel #nickname="ngModel">
    <label class="form-label" >Age</label>
    <input class="form-control" type="number" name="age"  min="1" max="60" ngModel #age="ngModel">
    <label class="form-label" >Year</label>
    <input class="form-control" type="number" name="year"  min="1" max="4" ngModel #year="ngModel">
    <!-- ## Note : name="<attribute name>" must be same #<attribute name> -->
    <button class="btn btn-success p-1 mt-2">send</button>
  </form>
  <table class="table table-success w-25 mt-2">
    <thead>
      <tr>
        <th>Nickname</th>
        <th>Age</th>
        <th>Year</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of reads()">
        <td>{{student.getNickname()}}</td>
        <td>{{student.getAge()}}</td>
        <td>{{student.getYear()}}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td></td>
        <td></td>
        <td>
         <!--  (ngSubmit)="" work with button element this case (onClick)="" still work -->
          <form *ngIf="reads().length!=0 " rowspan="3" (ngSubmit)="delete()">
               <button class="btn btn-success p-1">delete</button>
          </form>
        </td>
      </tr>
    </tfoot>
  </table>
  <h3>{{brackets.curlyBracketL}}</h3>

  <app-attribute-sub-first></app-attribute-sub-first>

  <app-for-access-form></app-for-access-form>
</div>
